<!DOCTYPE html>
<html lang="en">
<head>
  <title>Estate Wines of South Africa</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=ß, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <%= yield %>
</body>
</html>
