body{
  background-color: black;
  /* background-image: url('/public/images/Groot  Constantia.jpeg'); */
}

p {
  color: orange;
  font-size: 25px;}
/* .title {
  display
}

background-image: url('/public/images/Groot  Constantia.jpeg');
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center; */
