body{
  background-color: #922B21;
  background-image: url('/public/images/Groot  Constantia.jpeg'); */
}

p {
  color: orange;
  font-size: 25px;}

a {
  color: yellow;
  font-size: 15px;
}

caption { color: black;
  font-size: 30px

}
