<h1>Western Cape Wines</h1>
  <h3>All of our Suppliers</h3>
  <hr />
    <% for winery in @wineries %>
      <p>Name: <%= winery.name() %></p>
      <p><a href="/wineries/<%= winery.id %>">Show details</a></p>
  <hr />
<% end %>
