<div class = "winery_new">

  <form action="/wineries" method="POST">

    <label for="name">Winery Name:</label>
    <input required type="text" id="name"
    name="name">

    <label for="address">Address:</label>
    <input required type="text" id="address" name="address">

    <input type="submit" value="Add Winery">

  </form>
</div>
